<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style-product.css">
    <title>Document</title>
</head>

<body>


    <div class="container white">
        <div class="flex">
            <p class="heading">buy and sell</p>
            <a href="{%url 'upload' %}" class="sell-btn btn">sell</a>
        </div>
        <div class="marketplace">
            <!-- <link rel="stylesheet" href="{% static 'static/css/style-product.css' %}"> -->
            <!-- {% if products %}
            {% for instance in products reversed %}
            {% include 'templates/item.html' %} -->


            <div class="item product">
                <img src="image.jpg" alt="product image">
                <div class="item-details">
                    <p class="item-name">itemname</p>
                    <p class="item-price">rs 250</p>
                </div>

                <div class="seller">
                    <div class="seller-container">
                        <p>contact:</p>
                        <p class="seller-name">Lovedeep Singh Kamal</p>
                        <p class="seller-contact">1234567892</p>
                    </div>
                </div>
            </div>
            <!-- {% endfor %}
            {% else %}

            <p class="nothing-text">no product to show.<br>click <a href="{%url 'upload' %}">sell</a>
                button to starting selling items</p>
            {% endif %} -->
        </div>


    </div>
</body>

</html>